<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggec.uitest">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity android:name=".ui.MainActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
            </intent-filter>
        </activity>

        <activity android:name=".ui.edittext.ETActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.listview.LVActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.uiwidget.UIActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.dialog.FragmentDialogActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.socket.SocketActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.socket.TcpStatusActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.stringcode.ChineseCodeActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.lifecycle.OneLifeActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.lifecycle.TwoLifeActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.wifi.WifiManagerActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".ui.wifi.WifiStatusChangeActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.downloadfile.DownLoadFileActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.downloadfile.UploadFileActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.downloadfile.FileDownLoadActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.bt.BTActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.webview.WebViewActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.webview.WVNormalActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.activitymanager.TActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.activitymanager.AActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.activitymanager.BActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.activitymanager.CActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <!--adjustPan,该Activity主窗口并不调整屏幕的大小以便留出软键盘的空间-->
        <activity android:name=".ui.wifi.WPAEnterpriseActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".ui.jdkversion.LambdaActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".ui.seekbar.SeekBarActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.battery.BatteryUpdateActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.language.ChangeAppLanguageActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <!--测试EventBus的Activity-->
        <activity android:name=".ui.eventbus.EventBusActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <activity android:name=".ui.eventbus.EBSecondActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>

    </application>

</manifest>